
/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #000000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color: #E8FA8C;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #E8FA8C;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #faffe0a2;
    transform: scale(1.05);
} 

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%; /* Ajuste o espaçamento superior aqui */
}

.white-text {
    color: #fff; /* Cor branca */
}

.black-text {
    color: #E8FA8C; /* Cor preta */
}


header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
}

header a:hover{
    color: #FAFFE0;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav li {
    display: inline-block;
    padding: 0 40px;
}



/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 120px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}


.topo-do-site .txt-topo-site h1 span{
    color: #E8FA8C;
}

.topo-do-site .txt-topo-site {
    margin-left: -69px; /* Ou o valor desejado */
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */
section.especialidades{
    padding: 30px;
}

section.especialidades .flex{
    gap: 15px;
}

.especialidades .titulo{
    margin-left: -70px;
}

.especialidades .flex {
    display: flex;
    justify-content: space-around; /* Alinha as especialidades ao redor do container */
    margin-top: 100px;
}

.especialidades .especialidades-box {
    color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
    text-align: left;
    flex: 0 0 29%; /* Define a largura de cada especialidade */
    margin-top: -30px; 
    transition: .3s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff78;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #E8FA8C;
    margin-bottom: 5px;
}

.especialidades .especialidades-box h3{
    font-size: 20px;
    margin: 10px 0 60px;
}

.especialidades .especialidades-box p {
    margin-top: -45px; 
}



/* ESTILO DO SOBRE */
section.sobre{
    padding: 10px 4%;
    margin-left: -170px;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #fff;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #E8FA8C;
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.sobre .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: #E8FA8C;
    font-size: 22px;
    cursor: pointer;
    margin-top: 15px;
}

/* ESTILO PORTFOLIO */
section.portfolio{
    padding: 150px 4%;
    box-shadow: 0 0 40px 10px #ffffff3e;
    margin-top: 80px;
}

section.portfolio .flex{
    justify-content: space-around;
    gap: 40px;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;
    width: 500px;
    height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: #E8FA8C;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
}